@import "./utils/responsive-mixins";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/main";
@import "./pages/home";
@import "./layouts/ariane.scss";
@import "./pages/contact";
@import "./layouts/footer";
@import "./components/cross";
@import "./components/card";

$color-text-primary: rgb(231, 231, 231);

html, body {
    background-color: rgb(38, 19, 41);
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    color: $color-text-primary;
    // @include media-min(phoneL, l) {
    //     background-color: rgb(39, 1, 255);
    // }
    // @include media-min(tabletP, p) {
    //     background-color: rgb(255, 1, 170);
    // }
    // @include media-min(tabletL, l) {
    //     background-color: rgb(1, 255, 149);
    // }
    // @include media-min(desktop-sm, l) {
    //     background-color: rgb(255, 73, 1);
    // }
}